.container {
    background: rgb(255, 255, 255);
    border-radius: 10px;
   
}

.flotante {
    display:scroll;
        position:fixed;
        bottom:320px;
        right:0px;
}

#name{
   
    width: 100%;
    height: 10%;
}
button.btn btn-info btn-block{
    width: 10%;
}
