blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    margin-top: -150px;
    padding-top: -1000px;
    border-radius: 17px;
    background-color: #4ADFCC;
    margin-top: 50px;
    color:white;
    width: 555px;
    height: 500px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}

.quotation-mark{
    
    margin-top: -5px;
    font-weight: bold;
    font-size:150px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}