.login-block{
    float:left;
    width:100%;
    padding : 80px 0;
    background-color:rgb(80, 138, 192);
    }
    
    .container{ border-radius: 10px; width: 40%; height: 40%;}
    .login-sec{padding: 50px 30px; position:relative;}
    .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
    .login-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
    .btn-login{background: #0069c0; color:#fff; font-weight:600;}